body {
    background-color: lightcyan;
    color: teal;
    font-family: Arial;
    margin: 0px;
}
header {
    background: linear-gradient(to left top, teal,  lightseagreen, Turquoise);
    color: lightcyan;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Trebuchet MS';
}
footer {
    background: linear-gradient(to left top, teal,  lightseagreen, Turquoise);
    color: lightcyan;

    margin: 0px;
    padding: 20px;
    text-align: right;
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Trebuchet MS';
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
main {
    background-color: lightcyan;
    color: teal;

    margin: 0px 0px 88px;
    padding: 20px;
    font-size: 14pt;
    font-family: 'Trebuchet MS';
}
a {
    color: steelblue;
    text-decoration: none;
    transition: 0.5s 1s;
}

a:link {
    text-decoration: dotted;
}

a:visited {
    color: cadetblue;
}

a:hover {
    color: rgb(47, 96, 137);
    background-color: cadetblue;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 7px 7px 3px #0002;
    transition: 0.3s;
}

a:active {
    border: 2px solid teal;
    border-radius: 5px;
}

