<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title>
            {%if namee%}
                {{ namee }}
            {%else%}
                Абобус
            {%endif%}.
            {% if labnum %} Лабораторная 2{% endif %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    </head>
    <body>
        <header>
            НГТУ ФБ WEB-программирование, часть 2. {% if labnum %}Лабораторная работа 2{% endif %}.
        </header>

        <main> 

            Основной контент:

            <p>5 + 2 = {{5+2}}</p>

            <p>8452/792 = {{8452 / 792}}</p>

            <p>45<sup>8</sup>={{45**8}}</p>
            <ul> 
                {%for f in fruits%}
                    <li style="margin: 10px;">{{f.name}} цена: {{f.price}} &#8381;</li>
                {%endfor%}
            </ul> 
            <br>
            <ol type = "I">
                {%for b in books%}
                    <li style="margin: 10px;"> "{{b.name}}". Автор(ы):  {{b.author}} Жанр:  {{b.genre}}. Кол-во стр.:  {{b.pages}}.</li>
                {%endfor%}

            </ol>
        </main>

        <footer> 
            &copy; 
            {%if namee%}
                {{ namee }},
            {%else%}
                Абобус
            {%endif%}
            {%if group%}
                {{group}},
            {%else%}
                Группа "Сопельки"
            {%endif%}
            {%if course%}
                {{course}} 
            {%else%}
                40'000
            {%endif%}
            курс, 2024
        </footer>
    </body>
</html>