<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <title>Варюхин Иван Алексеевич.
        Лабораторная {{labnum}}</title>

        <link rel="stylesheet" href='/static/lab1.css'>
    </head>
    <body>
        <header>
            НГТУ ФБ WEB-программирование, часть 2. Лабораторная работа {{labnum}}.
        </header>

        <main> 

            основной контент

        </main>

        <footer> 
            &copy; {{ namee }}, {{group}}, {{course}} курс, 2024
        </footer>
    </body>
</html>