{%extends "base.html"%}
{%block lab%} Лабораторная работа 2{%endblock%}

{% block main %}

    <h1>"ВЕКТОР"</h1>
    <div>[ДАННЫЕ ЗАСЕКРЕЧЕНЫ] Данная страница презентует всех учатников организации ВЕКТОР:</div>
    <br>
    <div class="vec"><img src="/static/томас.png" width="200" alt="Томасс С."><br> <b>Томас С.</b><br>Профессор Университета Пенсильвании.
         Имеет отличные навыки вождения и знания.</div>
    <div class="vec"><img src="/static/Василий.png" width="200"><br> <b>Василий А.</b><br>Работник ювелирного завода(Шпионы).
        Имеет отличные навыки стрельбы и боя.</div>
    <div class="vec"><img src="/static/Клиффорд.png" width="200" alt="Томасс С."><br> <b>Клиффорд Б.</b><br>Детектив полиции в отставке.
        Профессионально добывает информацию.</div>
    <div class="vec"><img src="/static/эмилия фото.png" width="200" alt="Томасс С."><br> <b>Эмилия .</b><br>Делитант(Культист).
        Имеет знания о мифах Ктулху и культах.</div>
    <div class="vec"><img src="/static/Лиа.png" width="135" alt="Томасс С."><br> <b>Лиа В.</b><br>Профессиональный цирюльник.
        Пока нет информации навыках.</div>

{% endblock %}
