{% extends "base.html" %}

{% block lab %} Лабораторнаая работа 8{% endblock %}

{% block main %}
<head>
  <title>База знаний</title>
  <style>
    body {
        .content {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
    justify-content: center;
    }
}
  </style>
</head>
    <h1>База знаний</h1>
    <div class="container">
    <div class="content">
      <p>Добро пожаловать в базу знаний!</p>
    {% if current_user.is_authenticated %}
      <p>{{ current_user.login }}!</p>
      <a href="/lab8/logout"><button class="knop">Выйти</button></a>
      <a href="/lab8/users"><button class="knop">Список зарегистрированных пользователей</button></a>
    {% else %}
      <p>Анонимный пользователь</p>
      <a href="/lab8/login"><button class="knop">Войти</button></a>
      <a href="/lab8/register"><button class="knop">Регистрация</button></a>
    {% endif %}
    
    <a href="/lab8/list"><button class="knop">Список статей</button></a>
    <a href="/lab8/create"><button class="knop">Создать статью</button></a>
    <a href="/lab8/public_articles"><button class="knop">Посмотреть публичные статьи</button></a>
    <a href="/lab8/search_articles"><button class="knop">Фильтрация статьи</button></a>
    </div>
  </div>
{% endblock %}